@font-face {
    font-family: GoblinGummy;
    src: url(../fonts/GhoulFriAOE.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(229, 227, 227);
}

header{
    font-family: GoblinGummy, 'Times New Roman';
    height: 100px;
    background-color: rgb(3,155,82) ;
    display: flex;
    flex-direction: row;
    /* background-image: url(/images/Goblin\ Header.png.png);
    background-size: cover;
    background-position: center;*/
}

footer{
    width: 100%;
    height: 50px;
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    background-color: rgb(3,155,82);
}

#marca{
    line-height: 90px;
}

nav{
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
}

a{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

a img{
    width: 100px;
}

#headerEsquerda{
    width: 50%;
    display: flex;
    flex-direction: row;
}

#headerEsquerda img{
    width: 100px;
}

#headerDireita{
    padding: 0px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#iconeClicavel img{
    margin: 0px 20px 0px 0px;
    width: 60px;
    height: auto;
    gap: 20px;
}

button{
    background-color: rgb(6, 83, 46);
    color: white;
    border: none;
}

#menu{
    background-color: rgb(3,155,82);
    padding: 0px 0px 20px 20px;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

#menuClicavel img{
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: start;
    width: 40px;
    height: auto;
}

a{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: black;
    /* mudar a fonte daqui */
}