 .produto{
    transition: 0.5s;
    
}


.produto:hover{
    background-color: rgb(0, 119, 52);
    width: 250px;
    opacity: 1;
    transition: opacity 1s;
}


/* 
.produto .img-produto{
    position: absolute;
    height: auto;
    top: 0px;
    transition: 0.5s;
}

.produto:hover .img-produto{
    top: -100px;
    scale: 0.75;
}

.produto .img-produto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.produto .content-produto{
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s    ;
}

.produto:hover .content-produto {
    top: 130px;
    height: 250px;
} */